{% extends 'base.html' %}

{% block title %}
<title>TaskMate</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <label for="task" class="form-label col-lg-2"></label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="task" name="task" placeholder="New Task?" required>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary">Add Task</button>
            </div>
        </div>
    </form>

    <br>
    <table class="table">
        <thead class="table-dark">
        <tr class="row">
            <th class="col-7">Task Name</th>
            <th class="col-3">Status</th>
            <th class="col-1">Edit</th>
            <th class="col-1">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% if all_tasks %}
        {% for object in all_tasks %}
        {% if object.status %}
        <tr class="table-success row">
            <td class="col-7">{{ object.task }}</td>
            <td class="col-3"><a href="{% url 'pendingtask' object.id %}"><button type="button" class="btn btn-secondary">Mark Not Completed</button></a></td>
            <td class="col-1"><a href="{% url 'edittask' object.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
            <td class="col-1"><a href="{% url 'deletetask' object.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
        </tr>
        {% else %}
        <tr class="row">
            <td class="col-7"> {{ object.task }}</td>
            <td class="col-3"><a href="{% url 'completetask' object.id %}"><button type="button" class="btn btn-secondary">Mark Completed</button></a></td>
            <td class="col-1"><a href="{% url 'edittask' object.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
            <td class="col-1"><a href="{% url 'deletetask' object.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        <tr class="row">
            <td colspan="4" class="text-center">You have no tasks!</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="?pg=1"><<</a>
            </li>
            {% if all_tasks.has_previous %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.previous_page_number }}">
                {{ all_tasks.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.number }}">{{ all_tasks.number }}</a></li>
            {% if all_tasks.has_next %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.next_page_number }}">
                {{ all_tasks.next_page_number }}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?pg={{ all_tasks.paginator.num_pages }}">>></a>
            </li>
        </ul>
    </nav>
</div>
{% endblock content %}